{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <link rel="icon" type="image/x-icon" href="https://www.freeiconspng.com/thumbs/book-icon/book-stack-icon--icon-search-engine-16.png">

</head>
<body>
  <style>
    body {
      background-color:#FCF9F7;
  }

  .navbar-brand:hover, .nav-link:hover, .dropdown-item:hover {
  opacity: 0.8;

  }

  </style>
         <!-- Navbar  -->
         <nav class="navbar navbar-dark sticky-top" style="background-color: #6db8d2;">
          <div class="container-fluid" style="display:flex;">
            <a class="navbar-brand" style="font-size:25px;" href="{% url 'mainView' %}">
              <img src="https://www.freeiconspng.com/thumbs/book-icon/book-stack-icon--icon-search-engine-16.png" alt="" width="45" height="36" class="d-inline-block align-text-top">
              Textbooks For Sale
            </a>
            <nav class="nav" style="display:flex; align-items:center; justify-content:center;">
                <a class="nav-link" style="color:white; font-size:20px;" href="{% url 'searchView' %}">Search</a>
              <!-- <a class="nav-link" style="color:white; font-size:20px;" href="{% url 'allbooks' %}">All Listings</a> -->
              <a class="nav-link" style="color:white; font-size:20px;" href="{% url 'department_list' %}">Classes</a>
              <a class="nav-link" style="color:white; font-size:20px;" href="{% url 'SubmissionView' %}">Sell</a>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'accountView' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="border-radius: 50%; max-width: 45px; max-height: 45px;">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--<li><a class="dropdown-item" href="https://textbooksforsale.herokuapp.com/accounts/logout/">Logout</a></li>-->
                  <li><a class="dropdown-item" href="{% url 'accountView' %}">Account</a></li>
                  <!-- <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li> -->
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout</a></li>
                </ul>
               </div>
             </nav>

          </div>
        </nav>
        <!-- Navbar -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" style="font-size:30px;">Confirm Logout</h5>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="font-size:24px;">
      Are you sure you want to log out?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size:20px;">Cancel</button>
      <form action="{% url 'logout' %}">
      <button type="submit" class="btn btn-primary" style="font-size:20px;">Logout</button>
      </form>
    </div>
  </div>
</div>
</div>

<script>
var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>


        <h3 style="text-align:center; margin:20px;">Classes By Subject</h3>


        <div style="display:flex; flex-align:center; justify-content:center;">
        <form action="{% url 'department_list' %}" method = "get">
            {% csrf_token %}
            <input class="search" type="text" name="q" style="width: 700px" placeholder="Search Subjects...">
        </form>
        </div>


      <div>
      {% if departments %}
      {% for department in departments %} 
      <a style="text-decoration: none;" href = "{% url 'class_list' department.subject %}">
      <div class="card" >
          <h5 class="card-title" style=" text-align:center; color:black; margin-top:5px;">{{ department.subject }}</h5>
        </div>
      </a>
      {% endfor %}


      <style>
        .card {
          background-color: #A0D8D3; 
          margin-left:100px; 
          margin-right:100px; 
          margin-top:5px; 
          margin-bottom:5px; 
          min-width:100px;
        }
        .card:hover {
          color:white; 
          background-color:#94c6c2;
        }
      
      </style>  

      {% if departments|length > 14 %}
            <!-- Footer -->
            <footer class="text-center text-lg-start bg-light text-muted">
              <!-- Copyright -->
              <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2022 Copyright: B-17
              </div>
              <!-- Copyright -->
           </footer>
           <!-- Footer -->
      {% else %}
      <!-- Footer -->
      <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright: B-17
        </div>
        <!-- Copyright -->
     </footer>
     <!-- Footer -->
      {% endif %}

      {% else %}
      <div style="text-align:center; margin:50px;">
        <h4>Sorry, but nothing matched your search terms.  Please try again. </h4>
      </div>

            <!-- Footer -->
            <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
              <!-- Copyright -->
              <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2022 Copyright: B-17
              </div>
              <!-- Copyright -->
           </footer>
           <!-- Footer -->
      {% endif %}
      </div>
      <br>




</body>

</html>